/*======= Common Styles =======*/
/*Маркери у списках */
ul,
ol {
  list-style-type: none;
}
/*Нижнє підкреслення в посиланнях */
a {
  text-decoration: none;
  color: inherit;
}
/*Курсор на кнопці*/
button {
  cursor: pointer;
}
/*Зображення за замовчуванням рядковий елемент (робимо його блоковим)*/
img {
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fafafa;
}
/*======= /Common Styles =======*/
/*======= Page Header Styles =======*/
.page-header {
  padding: 28px 32px;
  display: flex;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.text-italic {
  font-style: italic;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/*======= /Page Header Styles =======*/

/*======= Page Hero Styles =======*/
.hero {
  background-color: brown; /* fix */
  color: #fff;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.buy-now-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
}
.how-its-made {
  font-weight: 600;
  font-size: 14px;
}
/*======= /Page Hero Styles =======*/

/*======= Benefits Styles =======*/
.benefits {
  background-color: #1e1823;
}
.title-benefits {
  display: none;
}
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/*======= /Benefits Styles =======*/

/*======= Ingredients Styles =======*/
.ingredients {
  text-align: center;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.text-color {
  color: #fd9222;
}
.ingredients-description {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
}
/*======= /Ingredients Styles =======*/
/*======= How Made Styles =======*/

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
}
.how-made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
/*======= /How Made Styles =======*/

/*======= Reviews Styles =======*/
.reviews-list-fullname {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
}
.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.leave-review-btn {
  font-weight: 600;
  font-size: 18px;
}
/*======= /Reviews Styles =======*/
/*======= Footer Styles =======*/
.page-footer {
  background: #1e1823;
  color: #fff;
}
.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}
.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.input-area {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.subscribe-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
/*======= /Footer Styles =======*/
